header {
  position: relative;
}

header .header_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: -webkit-calc(min(1680px,100vw) * 0.01);
  padding-left: calc(min(1680px,100vw) * 0.01);
  padding-right: -webkit-calc(min(1680px,100vw) * 0.01);
  padding-right: calc(min(1680px,100vw) * 0.01);
}

header .header_wrap .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: -webkit-calc(min(1680px,100vw) * 0.069);
  height: calc(min(1680px,100vw) * 0.069);
  width: -webkit-calc(min(1680px,100vw) * 0.17);
  width: calc(min(1680px,100vw) * 0.17);
}

header .header_wrap .logo picture {
  width: 16%;
}

header .header_wrap .logo picture img,
header .header_wrap .logo picture source {
  width: 100%;
}

header .header_wrap .logo p {
  font-size: -webkit-calc(min(1680px,100vw) * 0.028);
  font-size: calc(min(1680px,100vw) * 0.028);
  font-family: 'Oswald', sans-serif;
}

header .header_wrap .desc_wrap {
  width: 700px;
  margin-left: 5%;
  font-size: -webkit-calc(min(1680px,100vw) * 0.009);
  font-size: calc(min(1680px,100vw) * 0.009);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header .purple_line {
  height: -webkit-calc(min(1680px,100vw) * 0.0339);
  height: calc(min(1680px,100vw) * 0.0339);
  width: 100%;
  background: #ad409d;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .purple_line .line_wrap {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: -webkit-calc(min(1680px,100vw) * 0.01);
  padding-left: calc(min(1680px,100vw) * 0.01);
  padding-right: -webkit-calc(min(1680px,100vw) * 0.01);
  padding-right: calc(min(1680px,100vw) * 0.01);
}

header .purple_line .line_wrap p {
  color: white;
  font-size: -webkit-calc(min(1680px,100vw) * 0.018);
  font-size: calc(min(1680px,100vw) * 0.018);
  font-family: 'Oswald', sans-serif;
}

header .purple_line .line_wrap .class {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
}

header .purple_line .line_wrap .class p:nth-child(2) {
  padding-left: 2%;
  padding-right: 2%;
}

header .purple_line .line_wrap .class .pick {
  cursor: pointer;
  padding-left: 2%;
  padding-right: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 90%;
  background: #99388a;
  display: flex;
  align-items: center;
  -webkit-border-radius: -webkit-calc(min(1680px,100vw) * 0.002);
  border-radius: calc(min(1680px,100vw) * 0.002);
}

header .purple_line .line_wrap .class .class_value {
  width: 52%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .purple_line .line_wrap .class .class_value .val {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 23%;
  height: 100%;
  background: #99388a;
  -webkit-border-radius: -webkit-calc(min(1680px,100vw) * 0.002);
  border-radius: calc(min(1680px,100vw) * 0.002);
}

main {
  position: relative;
}

main .background_container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: -webkit-calc(min(1680px,100vw) * 0.02);
  padding-top: calc(min(1680px,100vw) * 0.02);
  background: #99388a;
  padding-bottom: -webkit-calc(min(1680px,100vw) * 0.04);
  padding-bottom: calc(min(1680px,100vw) * 0.04);
}

main .background_container .wrap_game {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: -webkit-calc(min(1680px,100vw) * 0.327);
  height: calc(min(1680px,100vw) * 0.327);
  padding-left: -webkit-calc(min(1680px,100vw) * 0.01);
  padding-left: calc(min(1680px,100vw) * 0.01);
  padding-right: -webkit-calc(min(1680px,100vw) * 0.01);
  padding-right: calc(min(1680px,100vw) * 0.01);
}

main .background_container .wrap_game .name_wrap {
  width: 40%;
  height: 100%;
  color: white;
  font-size: -webkit-calc(min(1680px,100vw) * 0.023);
  font-size: calc(min(1680px,100vw) * 0.023);
}

main .background_container .wrap_game .name_wrap .name_col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: -webkit-calc(min(1680px,100vw) * 0.041);
  height: calc(min(1680px,100vw) * 0.041);
  font-family: 'Exo 2';
  margin-bottom: -webkit-calc(min(1680px,100vw) * 0.026);
  margin-bottom: calc(min(1680px,100vw) * 0.026);
}

main .background_container .wrap_game .name_wrap .name_col:last-child {
  margin-bottom: 0px;
}

main .background_container .wrap_game .wrap_price {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 3%;
}

main .background_container .wrap_game .wrap_price .price_col {
  background: white;
  width: 30%;
  height: -webkit-calc(min(1680px,100vw) * 0.041);
  height: calc(min(1680px,100vw) * 0.041);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Dela Gothic One';
  -webkit-border-radius: -webkit-calc(min(1680px,100vw) * 0.0014);
  border-radius: calc(min(1680px,100vw) * 0.0014);
  font-size: -webkit-calc(min(1680px,100vw) * 0.02);
  font-size: calc(min(1680px,100vw) * 0.02);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: 0px 1px 3px -1px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 1px 3px -1px rgba(34, 60, 80, 0.6);
  cursor: pointer;
}

main .background_container .wrap_game .wrap_price .price_col:hover {
  background: #ad409d;
  color: white;
  width: 33%;
  height: -webkit-calc(min(1680px,100vw) * 0.046);
  height: calc(min(1680px,100vw) * 0.046);
}

main .active_block {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  top: 0% !important;
}

main .question_cont {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

main .question_cont .close {
  position: absolute;
  top: 0;
  right: 5%;
  cursor: pointer;
}

main .question_cont .close .block {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-calc(min(1680px,100vw) * 0.04);
  width: calc(min(1680px,100vw) * 0.04);
  height: -webkit-calc(min(1680px,100vw) * 0.04);
  height: calc(min(1680px,100vw) * 0.04);
  margin-top: -webkit-calc(min(1680px,100vw) * 0.01);
  margin-top: calc(min(1680px,100vw) * 0.01);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

main .question_cont .close .block .line {
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
}

main .question_cont .close .block .line:nth-child(2) {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

main .question_cont .question_wrap {
  width: -webkit-calc(min(1680px,100vw) * 0.6);
  width: calc(min(1680px,100vw) * 0.6);
  height: -webkit-calc(min(1680px,100vw) * 0.45);
  height: calc(min(1680px,100vw) * 0.45);
  background: white;
  -webkit-border-radius: -webkit-calc(min(1680px,100vw) * 0.003);
  border-radius: calc(min(1680px,100vw) * 0.003);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
}

main .question_cont .question_wrap .center {
  width: -webkit-calc(min(1680px,100vw) * 0.55);
  width: calc(min(1680px,100vw) * 0.55);
  height: -webkit-calc(min(1680px,100vw) * 0.39);
  height: calc(min(1680px,100vw) * 0.39);
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main .question_cont .question_wrap .center .name_wrap {
  width: 50%;
}

main .question_cont .question_wrap .center .name_wrap p {
  font-size: -webkit-calc(min(1680px,100vw) * 0.015);
  font-size: calc(min(1680px,100vw) * 0.015);
  font-family: 'Open Sans';
}

main .question_cont .question_wrap .center .name_wrap answ {
  color: white;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

main .question_cont .question_wrap .center .name_wrap .uzn {
  cursor: pointer;
  width: 45%;
  text-align: center;
  height: 8%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ad409d;
  color: white;
  /* font-family: 'Exo 2'; */
  margin-top: 7%;
}

main .question_cont .question_wrap .center .name_wrap .plus_wrap {
  margin-top: 5%;
  width: 90%;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .question_cont .question_wrap .center .name_wrap .plus_wrap > div {
  cursor: pointer;
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* font-size: 8px; */
  padding-top: 3%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
}

main .question_cont .question_wrap .center .name_wrap .plus_wrap > div p {
  font-size: -webkit-calc(min(1680px,100vw) * 0.01);
  font-size: calc(min(1680px,100vw) * 0.01);
  color: white;
}

main .question_cont .question_wrap .center .name_wrap .plus_wrap > div:nth-child(1) {
  background: #ad409d;
}

main .question_cont .question_wrap .center .name_wrap .plus_wrap > div:nth-child(2) {
  background: #ad409d;
}

main .question_cont .question_wrap .center .img_wrap {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .question_cont .question_wrap .center .img_wrap .img {
  width: 80%;
  height: 50%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-size: 100%;
  background-position: center;
  -webkit-box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}